#Catalog
CATALOG_APP_PORT=9001
CATALOG_PG_HOST=localhost
CATALOG_PG_PORT=9101
CATALOG_PG_DATABASE=catalog-db-dev
CATALOG_PG_USER=postgres
CATALOG_PG_PASSWORD=123456789
CATALOG_PG_SSLMODE=disable

#Basket
BASKET_APP_PORT=9002
BASKET_DATABASE_URL=postgres://postgres:123456789@localhost:9102/basket-db-dev?sslmode=disable
BASKET_MIGRATIONS_PATH=file://migrations/basket
BASKET_REDIS_URL=localhost:9112
BASKET_REDIS_PASSWORD=123456789
BASKET_PROMOTION_HOST=localhost
BASKET_PROMOTION_PORT=9003

#Promotion (gRPC + MySQL)
PROMOTION_DATABASE_URL=root:123456789@tcp(127.0.0.1:9103)/promotion-db?parseTime=true&multiStatements=true
PROMOTION_MIGRATIONS_PATH=file://migrations/promotion
PROMOTION_GRPC_PORT=9003

#Checkout
CHECKOUT_APP_PORT=9004
CHECKOUT_DATABASE_URL=postgres://postgres:123456789@localhost:9104/checkout-db-dev?sslmode=disable
CHECKOUT_MIGRATIONS_PATH=file://migrations/checkout
